@use "../../../../src/assets/variaveisCss/index" as *;

section.slideTrabalheConosco {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000;

    section.containerSlide {
        padding-inline: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        display: flex;
        justify-content: center;

        .containerSlideFale {
            position: relative;
            padding-bottom: 1rem;

            .swiperSlide {
                width: 100%;
                background-color: #fff;
                max-width: 15rem;
                border-radius: $borderRadius2;
                overflow: hidden;

                .cardVaga {
                    text-align: center;
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border: none;
                    display: flex;
                    flex-direction: column;
                    padding: 0;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }

                    div.descricao {
                        padding-inline: 0.5rem;
                        word-wrap: break-word;

                        h5 {
                            margin-top: 0.5rem;
                            text-align: center;
                            font-weight: $fontSemiBold600;
                            text-transform: uppercase;
                        }

                        p {
                            margin-top: 0.5rem;
                        }
                    }
                }
            }

            .swiper-pagination {
                position: relative;
                margin-top: 1rem;
                z-index: 100;

                .dotSlide {
                    background-color: #fff;
                    opacity: 1;
                }
                .swiper-pagination-bullet-active-main {
                    background-color: $vermelho;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    section.slideTrabalheConosco {
        section.containerSlide {
            .containerSlideFale {
                .swiperSlide {
                    max-width: 20rem;
                }
            }
        }
    }
}
